In [1]:
#import data

import pandas as pd
f500 = pd.read_csv('f500.csv', index_col = 0)
f500.index.name = None

We've already read the data set into a pandas dataframe and assigned it to a variable named f500.

Use the DataFrame.head() method to select the first 10 rows in f500. Assign the result to f500_head.
Use the DataFrame.info() method to display information about the dataframe.

In [2]:
f500_head = f500.head(10)
f500_head.info

<bound method DataFrame.info of                           rank  revenues  revenue_change  profits  assets  \
Walmart                      1    485873             0.8  13643.0  198825
State Grid                   2    315199            -4.4   9571.3  489838
Sinopec Group                3    267518            -9.1   1257.9  310726
China National Petroleum     4    262573           -12.3   1867.5  585619
Toyota Motor                 5    254694             7.7  16899.3  437575
Volkswagen                   6    240264             1.5   5937.3  432116
Royal Dutch Shell            7    240033           -11.8   4575.0  411275
Berkshire Hathaway           8    223604             6.1  24074.0  620854
Apple                        9    215639            -7.7  45687.0  321686
Exxon Mobil                 10    205004           -16.7   7840.0  330314

                          profit_change                  ceo  \
Walmart                            -7.2  C. Douglas McMillon
State Grid                         -6.2              Kou Wei
Sinopec Group                     -65.0            Wang Yupu
China National Petroleum          -73.7        Zhang Jianhua
Toyota Motor                      -12.3          Akio Toyoda
Volkswagen                          NaN      Matthias Muller
Royal Dutch Shell                 135.9      Ben van Beurden
Berkshire Hathaway                  NaN    Warren E. Buffett
Apple                             -14.4      Timothy D. Cook
Exxon Mobil                       -51.5      Darren W. Woods

                                                          industry  \
Walmart                                      General Merchandisers
State Grid                                               Utilities
Sinopec Group                                   Petroleum Refining
China National Petroleum                        Petroleum Refining
Toyota Motor                              Motor Vehicles and Parts
Volkswagen                                Motor Vehicles and Parts
Royal Dutch Shell                               Petroleum Refining
Berkshire Hathaway        Insurance: Property and Casualty (Stock)
Apple                                  Computers, Office Equipment
Exxon Mobil                                     Petroleum Refining

                                          sector  previous_rank      country  \
Walmart                                Retailing              1          USA
State Grid                                Energy              2        China
Sinopec Group                             Energy              4        China
China National Petroleum                  Energy              3        China
Toyota Motor              Motor Vehicles & Parts              8        Japan
Volkswagen                Motor Vehicles & Parts              7      Germany
Royal Dutch Shell                         Energy              5  Netherlands
Berkshire Hathaway                    Financials             11          USA
Apple                                 Technology              9          USA
Exxon Mobil                               Energy              6          USA

                                     hq_location  \
Walmart                          Bentonville, AR
State Grid                        Beijing, China
Sinopec Group                     Beijing, China
China National Petroleum          Beijing, China
Toyota Motor                       Toyota, Japan
Volkswagen                    Wolfsburg, Germany
Royal Dutch Shell         The Hague, Netherlands
Berkshire Hathaway                     Omaha, NE
Apple                              Cupertino, CA
Exxon Mobil                           Irving, TX

                                                   website  \
Walmart                             http://www.walmart.com
State Grid                          http://www.sgcc.com.cn
Sinopec Group                       http://www.sinopec.com
China National Petroleum            http://www.cnpc.com.cn
Toyota Motor                  http://www.toyota-global.com
Volkswagen                       http://www.volkswagen.com
Royal Dutch Shell                     http://www.shell.com
Berkshire Hathaway        http://www.berkshirehathaway.com
Apple                                 http://www.apple.com
Exxon Mobil                      http://www.exxonmobil.com

                          years_on_global_500_list  employees  \
Walmart                                         23    2300000
State Grid                                      17     926067
Sinopec Group                                   19     713288
China National Petroleum                        17    1512048
Toyota Motor                                    23     364445
Volkswagen                                      23     626715
Royal Dutch Shell                               23      89000
Berkshire Hathaway                              21     367700
Apple                                           15     116000
Exxon Mobil                                     23      72700

                          total_stockholder_equity
Walmart                                      77798
State Grid                                  209456
Sinopec Group                               106523
China National Petroleum                    301893
Toyota Motor                                157210
Volkswagen                                   97753
Royal Dutch Shell                           186646
Berkshire Hathaway                          283001
Apple                                       128249
Exxon Mobil                                 167325  >

Subtract the values in the rank column from the values in the previous_rank column. Assign the result to rank_change.

In [3]:
rank_change = f500['previous_rank'] - f500['rank']

Use the Series.max() method to find the maximum value for the rank_change series. Assign the result to the variable rank_change_max.
Use the Series.min() method to find the minimum value for the rank_change series. Assign the result to the variable rank_change_min.
After running your code, use the variable inspector to view the new variable you created.

In [4]:
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

print(rank_change_max)
print(rank_change_min)

226
-500

Return a series of descriptive statistics for the rank column in f500.
Select the rank column. Assign it to a variable named rank.
Use the Series.describe() method to return a series of statistics for rank. Assign the result to rank_desc.
Return a series of descriptive statistics for the previous_rank column in f500.
Select the previous_rank column. Assign it to a variable named prev_rank.
Use the Series.describe() method to return a series of statistics for prev_rank. Assign the result to prev_rank_desc.
After you have run your code, use the variable inspector to view each of the new variables you created. Try to identify any potential issues with the data before moving onto the next screen.

In [5]:
rank = f500['rank']
rank_desc = rank.describe()

prev_rank = f500['previous_rank']
prev_rank_desc = prev_rank.describe()

print(rank_desc)
print(prev_rank_desc)

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64
count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

In [6]:
#R table(f500$country)
#R sum(fortune$country == 'China')

# In the last mission, we also learned how to use Series.loc[] to select just one item from a series by label. For example, in order to select just the counts for China, we would use the following line of code:

# print(f500["country"].value_counts().loc["China"])
# 109

zero_previous_rank = f500['previous_rank'].value_counts().loc[0]

#dont forget the () brackets

print(zero_previous_rank)

33

Use the DataFrame.max() method to find the maximum value for only the numeric columns from f500 (you may need to check the documentation). Assign the result to the variable max_f500.
After running your code, use the variable inspector to view each of the new variables you created. Try to identify any potential issues with the data before moving on to the next screen.

In [7]:
max_f500 = f500.max(numeric_only = True)
#display the max values for each column (numeric-only values)


print(max_f500)

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

One difference is that we need to manually specify if you want to see the statistics for the non-numeric columns. By default, DataFrame.describe() will return statistics for only numeric columns. If we wanted to get just the object columns, we need to use the include=['O'] parameter:

print(f500.describe(include=['O']))

In [8]:
print(f500.describe(include=['O']))

              ceo                       industry      sector country  \
count         500                            500         500     500
unique        500                             58          21      34
top     Xu Lirong  Banks: Commercial and Savings  Financials     USA
freq            1                             51         118     132

           hq_location                  website
count              500                      500
unique             235                      500
top     Beijing, China  http://www.generali.com
freq                56                        1

Return a dataframe of descriptive statistics for all of the numeric columns in f500. Assign the result to f500_desc.
After you have run your code, use the variable inspector to view each of the new variables you created. Try to identify any potential issues with the data before moving onto the next screen.

In [9]:
f500_desc = f500.describe()
print(f500_desc)

             rank       revenues  revenue_change       profits        assets  \
count  500.000000     500.000000      498.000000    499.000000  5.000000e+02
mean   250.500000   55416.358000        4.538353   3055.203206  2.436323e+05
std    144.481833   45725.478963       28.549067   5171.981071  4.851937e+05
min      1.000000   21609.000000      -67.300000 -13038.000000  3.717000e+03
25%    125.750000   29003.000000       -5.900000    556.950000  3.658850e+04
50%    250.500000   40236.000000        0.550000   1761.600000  7.326150e+04
75%    375.250000   63926.750000        6.975000   3954.000000  1.805640e+05
max    500.000000  485873.000000      442.300000  45687.000000  3.473238e+06

       profit_change  previous_rank  years_on_global_500_list     employees  \
count     436.000000     500.000000                500.000000  5.000000e+02
mean       24.152752     222.134000                 15.036000  1.339983e+05
std       437.509566     146.941961                  7.932752  1.700878e+05
min      -793.700000       0.000000                  1.000000  3.280000e+02
25%       -22.775000      92.750000                  7.000000  4.293250e+04
50%        -0.350000     219.500000                 17.000000  9.291050e+04
75%        17.700000     347.250000                 23.000000  1.689172e+05
max      8909.500000     500.000000                 23.000000  2.300000e+06

       total_stockholder_equity
count                500.000000
mean               30628.076000
std                43642.576833
min               -59909.000000
25%                 7553.750000
50%                15809.500000
75%                37828.500000
max               301893.000000

In [10]:
f500_desc = f500.describe()
# f500.describe(include=['O']) <- for just object columns

REASSIGNMENT

In [11]:
top5_rank_revenue = f500[["rank", "revenues"]].head()
print(top5_rank_revenue)

                          rank  revenues
Walmart                      1    485873
State Grid                   2    315199
Sinopec Group                3    267518
China National Petroleum     4    262573
Toyota Motor                 5    254694

In [12]:
top5_rank_revenue["revenues"] = 0
print(top5_rank_revenue)

                          rank  revenues
Walmart                      1         0
State Grid                   2         0
Sinopec Group                3         0
China National Petroleum     4         0
Toyota Motor                 5         0

In [13]:
top5_rank_revenue = f500[["rank", "revenues"]].head()
print(top5_rank_revenue)

                          rank  revenues
Walmart                      1    485873
State Grid                   2    315199
Sinopec Group                3    267518
China National Petroleum     4    262573
Toyota Motor                 5    254694

By providing labels for both axes, we can assign them to a single value within our dataframe.

In [14]:
top5_rank_revenue.loc["Sinopec Group", "revenues"] = 999 # dont forget the loc
print(top5_rank_revenue)

                          rank  revenues
Walmart                      1    485873
State Grid                   2    315199
Sinopec Group                3       999
China National Petroleum     4    262573
Toyota Motor                 5    254694

The company "Dow Chemical" has named a new CEO. Update the value where the row label is Dow Chemical and for the ceo column to Jim Fitterling in the f500 dataframe.

In [15]:
f500.loc['Dow Chemical','ceo'] = 'Jim Fitterling'

Create a boolean series, motor_bool, that compares whether the values in the industry column from the f500 dataframe are equal to "Motor Vehicles and Parts".
Use the motor_bool boolean series to index the country column. Assign the result to motor_countries.
After running your code, use the variable inspector to view each of the new variables you created.

In [16]:
motor_bool = f500['industry'] == 'Motor Vehicles and Parts'
motor_countries = f500.loc[motor_bool,'country'] # motor_bool as the boolean criteria for all rows for that column in motor_bool'industry'

In [17]:
motor_countries1 = f500.loc[f500['industry'] == 'Motor Vehicles and Parts','country'] # chaining

print(motor_countries1)

Toyota Motor                                 Japan
Volkswagen                                 Germany
Daimler                                    Germany
General Motors                                 USA
Ford Motor                                     USA
Honda Motor                                  Japan
SAIC Motor                                   China
Nissan Motor                                 Japan
BMW Group                                  Germany
Dongfeng Motor                               China
Robert Bosch                               Germany
Hyundai Motor                          South Korea
China FAW Group                              China
Beijing Automotive Group                     China
Peugeot                                     France
Renault                                     France
Kia Motors                             South Korea
Continental                                Germany
Denso                                        Japan
Guangzhou Automobile Industry Group          China
Tata Motors                                  India
ZF Friedrichshafen                         Germany
Jardine Matheson                             China
Magna International                         Canada
Volvo                                       Sweden
Hyundai Mobis                          South Korea
Aisin Seiki                                  Japan
Zhejiang Geely Holding Group                 China
Subaru                                       Japan
Bridgestone                                  Japan
Mazda Motor                                  Japan
Suzuki Motor                                 Japan
Sumitomo Electric Industries                 Japan
Michelin                                    France
Name: country, dtype: object

In [18]:
# This is the most common way to write pandas code to perform assignment using boolean arrays:

f500.loc[f500["sector"] == "Motor Vehicles & Parts","sector"] = "Motor Vehicles and Parts"

To make comparing the values in this column before and after our operation easier, we've added the following line of code to the script.py codebox:

In [19]:
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()

Use boolean indexing to update values in the previous_rank column of the f500 dataframe:
There should now be a value of np.nan where there previously was a value of 0.
It is up to you whether you assign the boolean series to its own variable first, or whether you complete the operation in one line.
Create a new pandas series, prev_rank_after, using the same syntax that was used to create the prev_rank_before series.
After running your code, use the variable inspector to compare prev_rank_before and prev_rank_after.

In [20]:
import numpy as np #boolean <-> numpy
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()

f500.loc[f500['previous_rank'] == 0,'previous_rank'] = np.nan

prev_rank_after = f500["previous_rank"].value_counts(dropna=False).head()

print(prev_rank_before)
print(prev_rank_after)

0      33
159     1
147     1
148     1
149     1
Name: previous_rank, dtype: int64
NaN      33
471.0     1
234.0     1
125.0     1
166.0     1
Name: previous_rank, dtype: int64

When we assign a value or values to a new column label, pandas will create a new column in our dataframe. For example, below we add a new column to a dataframe named top5_rank_revenue:

When we assign a value or values to a new column label, pandas will create a new column in our dataframe. For example, below we add a new column to a dataframe named top5_rank_revenue:

top5_rank_revenue["year_founded"] = 0
print(top5_rank_revenue)

Add a new column named rank_change to the f500 dataframe by subtracting the values in the rank column from the values in the previous_rank column.
Use the Series.describe() method to return a series of descriptive statistics for the rank_change column. Assign the result to rank_change_desc.
After running your code, use the variable inspector to view each of the new variables you created. Verify that the minimum value of the rank_change column is now greater than -500.

In [21]:
f500["rank_change"] = f500["previous_rank"] - f500["rank"] 
rank_change_desc = f500["rank_change"].describe()

print(rank_change_desc)

#R f500 <- f500 %>% mutate(rank_change = previous_rank - rank)

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

In [22]:
f500['country'].value_counts()

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
Italy             7
India             7
Australia         7
Brazil            7
Taiwan            6
Ireland           4
Russia            4
Singapore         3
Sweden            3
Mexico            2
Venezuela         1
Luxembourg        1
Israel            1
Indonesia         1
Finland           1
Belgium           1
Saudi Arabia      1
U.A.E             1
Denmark           1
Turkey            1
Malaysia          1
Norway            1
Thailand          1
Name: country, dtype: int64

Create a series, industry_usa, containing counts of the two most common values in the industry column for companies headquartered in the USA.
Create a series, sector_china, containing counts of the three most common values in the sector column for companies headquartered in the China.

In [23]:
industry_usa = f500['industry'][f500['country'] == 'USA'].value_counts().head(2)
sector_china = f500['sector'][f500['country'] == 'China'].value_counts().head(3)