In [1]:
import pandas as pd
import numpy as np
# read the data set into a pandas datafram
f500 = pd.read_csv('f500.csv', index_col = 0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN, dont forget the loc
f500.loc[f500['previous_rank'] == 0, 'previous_rank'] = np.nan

We've already read the data set into a pandas dataframe and assigned it to a variable named f500. We also replaced all 0 values in the previous_rank column with NaN, like we did in the previous mission.

Select the rank, revenues, and revenue_change columns in f500. Then, use the DataFrame.head() method to select the first five rows. Assign the result to f500_selection.
Use the variable inspector to view f500_selection. Compare the results to the first few lines of our CSV file above.
Take a look at the documentation for the pandas.read_csv() function to try to understand the results. If you have trouble understanding, don't worry! We'll explain the results on the next screen.

In [2]:
f500_selection = f500.loc[:,'rank':'revenue_change'].head(5) #slice of columns

print(f500_selection)

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

Let's look at what the f500 dataframe looks like if we remove the second line: f500.index.name = None.

In [3]:
f500 = pd.read_csv("f500.csv", index_col=0)

f500.head(5)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

Notice that above the index labels is the text company, the name of the first column in the CSV. Pandas used this value as the axis name for the index axis.

Both the column and index axes can have names assigned to them. However, we originally used the code below to access the name of the index axes and set it to None, so our dataframe didn't have a name for the index axis:

Next, let's see what the dataframe looks like if we use pandas.read_csv() without the index_col parameter.

Use the pandas.read_csv() function to read the f500.csv CSV file as a pandas dataframe. Assign it to the variable name f500.
Do not use the index_col parameter.
Use the code below to insert the NaN values into the previous_rank column: f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [4]:
f500 = pd.read_csv('f500.csv')
f500.index.name = 0
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

f500.head(5)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,,,,,,,,,,,,,,,,,
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

There are two differences with this approach:

The company column is now included as a regular column, instead of being used for the index.
The index labels are now integers starting from 0.

Select just the fifth row of the f500 dataframe. Assign the result to fifth_row.
Select the value in first row of the company column. Assign the result to company_value.

In [5]:
fifth_row = f500.iloc[4,]

company_value = f500.iloc[0,0]

print(fifth_row)
print(company_value)

company                                     Toyota Motor
rank                                                   5
revenues                                          254694
revenue_change                                       7.7
profits                                          16899.3
assets                                            437575
profit_change                                      -12.3
ceo                                          Akio Toyoda
industry                        Motor Vehicles and Parts
sector                            Motor Vehicles & Parts
previous_rank                                          8
country                                            Japan
hq_location                                Toyota, Japan
website                     http://www.toyota-global.com
years_on_global_500_list                              23
employees                                         364445
total_stockholder_equity                          157210
Name: 4, dtype: object
Walmart

In the example above, the row at index position 5 is not included, just as if we were slicing with a Python list or NumPy ndarray. Recall that loc[] handles slicing differently:

With loc[], the ending slice is included.
With iloc[], the ending slice is not included.

Select the first three rows of the f500 dataframe. Assign the result to first_three_rows.
Select the first and seventh rows and the first five columns of the f500 dataframe. Assign the result to first_seventh_row_slice.
After running your code, use the variable inspector to examine each of the objects you created.

In [6]:
first_three_rows = f500[:3]
first_seventh_row_slice = f500.iloc[[0, 6], :5]

First, let's use the Series.isnull() method to view rows with null values in the revenue_change column:

In [7]:
rev_is_null = f500["revenue_change"].isnull()
print(rev_is_null.head())

0
0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

We see that using Series.isnull() resulted in a boolean series. Just like in NumPy, we can use this series to filter our dataframe, f500:

In [8]:
rev_change_null = f500[rev_is_null] # f500[f500["revenue_change"].isnull()]
print(rev_change_null[["company","country","sector"]])

                        company  country      sector
0
90                       Uniper  Germany      Energy
180  Hewlett Packard Enterprise      USA  Technology

Use the Series.isnull() method to select all rows from f500 that have a null value for the previous_rank column. Select only the company, rank, and previous_rank columns. Assign the result to null_previous_rank.

null_previous_rank = f500[f500['previous_rank'].isnull()][['company','rank','previous_rank']]
null_previous_rank.head(5)

Assign the first five rows of the null_previous_rank dataframe to the variable top5_null_prev_rank by choosing the correct method out of either loc[] or iloc[].

Now that we've identified the rows with null values in the previous_rank column, let's use the Series.notnull() method to exclude them from the next part of our analysis.

In [9]:
previously_ranked = f500[f500["previous_rank"].notnull()]

We can then create a rank_change column by subtracting the rank column from the previous_rank column:

In [10]:
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
print(rank_change.shape)
print(rank_change.tail(3))

(467,)
0
496   -70.0
497   -61.0
498   -32.0
dtype: float64

Use the Series.notnull() method to select all rows from f500 that have a non-null value for the previous_rank column. Assign the result to previously_ranked
From the previously_ranked dataframe, subtract the rank column from the previous_rank column. Assign the result to rank_change.
Assign the values in the rank_change to a new column in the f500 dataframe, "rank_change".
Once you have run your code, use the variable inspector to look at the f500 dataframe and observe how the new column aligns with the existing data.

In [11]:
previously_ranked = f500[f500['previous_rank'].notnull()]
rank_change = previously_ranked['previous_rank'] - previously_ranked['rank']
f500['rank_change'] = rank_change
f500.head(5)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
0,,,,,,,,,,,,,,,,,,
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0

Select all companies with revenues over 100 billion and negative profits from the f500 dataframe. The result should include all columns.
Create a boolean array that selects the companies with revenues greater than 100 billion. Assign the result to large_revenue.
Create a boolean array that selects the companies with profits less than 0. Assign the result to negative_profits.
Combine large_revenue and negative_profits. Assign the result to combined.
Use combined to filter f500. Assign the result to big_rev_neg_profit.

In [12]:
large_revenue = f500['revenues'] > 100000
negative_profits = f500['profits'] < 0

combined = large_revenue & negative_profits

big_rev_neg_profit = f500[combined]

print(big_rev_neg_profit)

#R over_265_and_china <- fortune %>% 
#R     filter(revenues > 265000 & country == 'China')

                company  rank  revenues  revenue_change  profits   assets  \
0
32  Japan Post Holdings    33    122990             3.6   -267.4  2631385
44              Chevron    45    107567           -18.0   -497.0   260078

    profit_change               ceo                         industry  \
0
32         -107.5  Masatsugu Nagato  Insurance: Life, Health (stock)
44         -110.8    John S. Watson               Petroleum Refining

        sector  previous_rank country    hq_location                  website  \
0
32  Financials           37.0   Japan   Tokyo, Japan  http://www.japanpost.jp
44      Energy           31.0     USA  San Ramon, CA   http://www.chevron.com

    years_on_global_500_list  employees  total_stockholder_equity  rank_change
0
32                        21     248384                     91532          4.0
44                        23      55200                    145556        -14.0

Lastly, instead of assigning the boolean arrays to combined, we can insert the comparison directly into our selection:

big_rev_neg_profit = f500[(f500["revenues"] > 100000) & (f500["profits"] < 0)] #surround the conditions with parentheses ()

Select all rows for companies headquartered in either Brazil or Venezuela. Assign the result to brazil_venezuela.
Select the first five companies in the Technology sector that are not headquartered in the USA from the f500 dataframe. Assign the result to tech_outside_usa.

In [13]:
brazil_venezuela = f500[(f500['country'] == 'Brazil') | (f500['country'] == 'Venezuela')]
#R brazil_venezuela <- fortune %>% filter(country == 'Brazil' | country == 'Venezuela')

tech_outside_usa = f500[(f500['sector'] == 'Technology') & ~(f500['country'] == 'USA')].head()
#R tech_outside_usa <- fortune %>% filter(sector == 'Technology' & country != 'USA')

# ~ is outside the parentheses

Let's continue by answering more complex questions about our data set. Suppose we wanted to find the company that employs the most people in China. We can accomplish this by first selecting all of the rows where the country column equals China:

In [14]:
selected_rows = f500[f500["country"] == "China"]

Then, we can use the DataFrame.sort_values() method to sort the rows on the EMPLOYEES column. To do so, we pass the column name to the method:

In [15]:
sorted_rows = selected_rows.sort_values("employees")
print(sorted_rows[["company", "country", "employees"]].head())

                                company country  employees
0
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852

By default, the sort_values() method will sort the rows in ascending order — from smallest to largest.

To sort the rows in descending order instead, so the company with the largest number of employees appears first, we can set the ascending parameter to False:

In [16]:
sorted_rows = selected_rows.sort_values("employees", ascending=False)
print(sorted_rows[["company", "country", "employees"]].head())

                        company country  employees
0
3      China National Petroleum   China    1512048
118            China Post Group   China     941211
1                    State Grid   China     926067
2                 Sinopec Group   China     713288
37   Agricultural Bank of China   China     501368

In [17]:
countries = f500['country']
countries_counts = countries.value_counts()

print(countries_counts)

USA             132
China           109
Japan            51
Germany          29
France           29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
Italy             7
Australia         7
Brazil            7
India             7
Taiwan            6
Russia            4
Ireland           4
Sweden            3
Singapore         3
Mexico            2
Thailand          1
Venezuela         1
Luxembourg        1
Saudi Arabia      1
Norway            1
U.A.E             1
Belgium           1
Indonesia         1
Turkey            1
Denmark           1
Malaysia          1
Israel            1
Finland           1
Name: country, dtype: int64

Find the company headquartered in Japan with the largest number of employees.
Select only the rows that have a country name equal to Japan.
Use DataFrame.sort_values() to sort those rows by the employees column in descending order.
Use DataFrame.iloc[] to select the first row from the sorted dataframe.
Extract the company name from the index label company from the first row. Assign the result to top_japanese_employer.
After running your code, use the variable inspector to view the top employer for Japan.

In [18]:
selected_rows = f500[f500['country'] == 'Japan']

sorted_rows = selected_rows.sort_values('employees', ascending = False) #remember to indicate what we want to sort by
top_japanese_employer = sorted_rows.iloc[0]['company'] #i must come first, due to iloc

print(top_japanese_employer)

Toyota Motor

To identify the unique countries, we can use the Series.unique() method. This method returns an array of unique values from any series. Then, we can loop over that array and perform our operation. Here's what that looks like:

In [19]:
# Create an empty dictionary to store the results
avg_rev_by_country = {}

# Create an array of unique countries
countries = f500['country'].unique()

print(countries)

['USA' 'China' 'Japan' 'Germany' 'Netherlands' 'Britain' 'South Korea'
 'Switzerland' 'France' 'Taiwan' 'Singapore' 'Italy' 'Russia' 'Spain'
 'Brazil' 'Mexico' 'Luxembourg' 'India' 'Malaysia' 'Thailand' 'Australia'
 'Belgium' 'Norway' 'Canada' 'Ireland' 'Indonesia' 'Denmark'
 'Saudi Arabia' 'Sweden' 'Finland' 'Venezuela' 'Turkey' 'U.A.E' 'Israel']

In [20]:
# Use a for loop to iterate over the countries

for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500['country'] == c]
    # Calculate the mean average revenue for just those rows
    mean = selected_rows['revenues'].mean()
    # Assign the mean value to the dictionary, using the
    # country name as the key
    avg_rev_by_country[c] = mean
    
print(avg_rev_by_country)

{'USA': 64218.371212121216, 'China': 55397.880733944956, 'Japan': 53164.03921568627, 'Germany': 63915.0, 'Netherlands': 61708.92857142857, 'Britain': 51588.708333333336, 'South Korea': 49725.6, 'Switzerland': 51353.57142857143, 'France': 55231.793103448275, 'Taiwan': 46364.666666666664, 'Singapore': 54454.333333333336, 'Italy': 51899.57142857143, 'Russia': 65247.75, 'Spain': 40600.666666666664, 'Brazil': 52024.57142857143, 'Mexico': 54987.5, 'Luxembourg': 56791.0, 'India': 39993.0, 'Malaysia': 49479.0, 'Thailand': 48719.0, 'Australia': 33688.71428571428, 'Belgium': 45905.0, 'Norway': 45873.0, 'Canada': 31848.0, 'Ireland': 32819.5, 'Indonesia': 36487.0, 'Denmark': 35464.0, 'Saudi Arabia': 35421.0, 'Sweden': 27963.666666666668, 'Finland': 26113.0, 'Venezuela': 24403.0, 'Turkey': 23456.0, 'U.A.E': 22799.0, 'Israel': 21903.0}

In this exercise, we're going to produce the following dictionary of the top employer in each country:

Create an empty dictionary, top_employer_by_country to store the results of the exercise.
Use the Series.unique() method to create an array of unique values from the country column.
Use a for loop to iterate over the array unique countries. In each iteration:
Select only the rows that have a country name equal to the current iteration.
Use DataFrame.sort_values() to sort those rows by the employees column in descending order.
Select the first row from the sorted dataframe.
Extract the company name from the index label company from the first row.
Assign the results to the top_employer_by_country dictionary, using the country name as the key, and the company name as the value.
After running your code, use the variable inspector to view the top employer for each country.

In [21]:
# Create an empty dictionary, top_employer_by_country to store the results of the exercise.
top_employer_by_country = {}

# Use the Series.unique() method to create an array of unique values from the country column.
countries = f500['country'].unique()

for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    # Select only the rows that have a country name equal to the current iteration.
    selected_rows = f500[f500['country'] == c]
    
    # Use DataFrame.sort_values() to sort those rows by the employees column in descending order.
    sorted_rows = selected_rows.sort_values('employees', ascending = False)
    
    # Select the first row from the sorted dataframe.
    top_employer = sorted_rows.iloc[0]
    
    # Extract the company name from the index label company from the first row.
    employer_name = top_employer['company']
    
    # Assign the results to the top_employer_by_country dictionary, using the country name as the key, and the company name as the value.
    top_employer_by_country[c] = employer_name

    
print(top_employer_by_country)

{'USA': 'Walmart', 'China': 'China National Petroleum', 'Japan': 'Toyota Motor', 'Germany': 'Volkswagen', 'Netherlands': 'EXOR Group', 'Britain': 'Compass Group', 'South Korea': 'Samsung Electronics', 'Switzerland': 'Nestle', 'France': 'Sodexo', 'Taiwan': 'Hon Hai Precision Industry', 'Singapore': 'Flex', 'Italy': 'Poste Italiane', 'Russia': 'Gazprom', 'Spain': 'Banco Santander', 'Brazil': 'JBS', 'Mexico': 'America Movil', 'Luxembourg': 'ArcelorMittal', 'India': 'State Bank of India', 'Malaysia': 'Petronas', 'Thailand': 'PTT', 'Australia': 'Wesfarmers', 'Belgium': 'Anheuser-Busch InBev', 'Norway': 'Statoil', 'Canada': 'George Weston', 'Ireland': 'Accenture', 'Indonesia': 'Pertamina', 'Denmark': 'Maersk Group', 'Saudi Arabia': 'SABIC', 'Sweden': 'H & M Hennes & Mauritz', 'Finland': 'Nokia', 'Venezuela': 'Mercantil Servicios Financieros', 'Turkey': 'Koc Holding', 'U.A.E': 'Emirates Group', 'Israel': 'Teva Pharmaceutical Industries'}

Assign the results to the top_employer_by_country dictionary, using the country name as the key, and the company name as the value.

In [22]:
f500['roa'] = f500['profits'] / f500['assets']

top_roa_by_sector = {}

sectors = f500['sector'].unique()

for s in sectors:
    selected_rows = f500[f500['sector'] == s]
    sorted_rows = selected_rows.sort_values('roa', ascending = False)
    top_roa = sorted_rows.iloc[0]
    company_name = top_roa['company']
    top_roa_by_sector[s] = company_name

print(top_roa_by_sector)

{'Retailing': 'H & M Hennes & Mauritz', 'Energy': 'National Grid', 'Motor Vehicles & Parts': 'Subaru', 'Financials': 'Berkshire Hathaway', 'Technology': 'Accenture', 'Wholesalers': 'McKesson', 'Health Care': 'Gilead Sciences', 'Telecommunications': 'KDDI', 'Engineering & Construction': 'Pacific Construction Group', 'Industrials': '3M', 'Food & Drug Stores': 'Publix Super Markets', 'Aerospace & Defense': 'Lockheed Martin', 'Food, Beverages & Tobacco': 'Philip Morris International', 'Household Products': 'Unilever', 'Transportation': 'Delta Air Lines', 'Materials': 'CRH', 'Chemicals': 'LyondellBasell Industries', 'Media': 'Disney', 'Apparel': 'Nike', 'Hotels, Restaurants & Leisure': 'McDonald’s', 'Business Services': 'Adecco Group'}