Use Python's type() function to assign the type of f500 to f500_type.
Use the DataFrame.shape attribute to assign the shape of f500 to f500_shape.
After you have run your code, use the variable inspector to look at the variables f500, f500_type, and f500_shape.

In [4]:
import pandas as pd
f500 = pd.read_csv('f500.csv', index_col = 0)
f500.index.name = None

f500_type = type(f500)
f500_shape = f500.shape

print(f500_type)
print(f500_shape)

<class 'pandas.core.frame.DataFrame'>
(500, 16)

Just like in the previous missions, the f500 variable we created on the previous screen is available to you here.

Use the head() method to select the first 6 rows. Assign the result to f500_head.
Use the tail() method to select the last 8 rows. Assign the result to f500_tail.
After you have run your code, use the variable inspector and output to view information about the dataframe.

In [6]:
f500_head = f500.head(6)
f500_tail = f500.tail(8)

print(f500_head)
print(f500_tail)

                          rank  revenues  revenue_change  profits  assets  \
Walmart                      1    485873             0.8  13643.0  198825
State Grid                   2    315199            -4.4   9571.3  489838
Sinopec Group                3    267518            -9.1   1257.9  310726
China National Petroleum     4    262573           -12.3   1867.5  585619
Toyota Motor                 5    254694             7.7  16899.3  437575
Volkswagen                   6    240264             1.5   5937.3  432116

                          profit_change                  ceo  \
Walmart                            -7.2  C. Douglas McMillon
State Grid                         -6.2              Kou Wei
Sinopec Group                     -65.0            Wang Yupu
China National Petroleum          -73.7        Zhang Jianhua
Toyota Motor                      -12.3          Akio Toyoda
Volkswagen                          NaN      Matthias Muller

                                          industry                  sector  \
Walmart                      General Merchandisers               Retailing
State Grid                               Utilities                  Energy
Sinopec Group                   Petroleum Refining                  Energy
China National Petroleum        Petroleum Refining                  Energy
Toyota Motor              Motor Vehicles and Parts  Motor Vehicles & Parts
Volkswagen                Motor Vehicles and Parts  Motor Vehicles & Parts

                          previous_rank  country         hq_location  \
Walmart                               1      USA     Bentonville, AR
State Grid                            2    China      Beijing, China
Sinopec Group                         4    China      Beijing, China
China National Petroleum              3    China      Beijing, China
Toyota Motor                          8    Japan       Toyota, Japan
Volkswagen                            7  Germany  Wolfsburg, Germany

                                               website  \
Walmart                         http://www.walmart.com
State Grid                      http://www.sgcc.com.cn
Sinopec Group                   http://www.sinopec.com
China National Petroleum        http://www.cnpc.com.cn
Toyota Motor              http://www.toyota-global.com
Volkswagen                   http://www.volkswagen.com

                          years_on_global_500_list  employees  \
Walmart                                         23    2300000
State Grid                                      17     926067
Sinopec Group                                   19     713288
China National Petroleum                        17    1512048
Toyota Motor                                    23     364445
Volkswagen                                      23     626715

                          total_stockholder_equity
Walmart                                      77798
State Grid                                  209456
Sinopec Group                               106523
China National Petroleum                    301893
Toyota Motor                                157210
Volkswagen                                   97753
                                       rank  revenues  revenue_change  \
Telecom Italia                          493     21941           -17.4
Xiamen ITG Holding Group                494     21930            34.3
Xinjiang Guanghui Industry Investment   495     21919            31.1
Teva Pharmaceutical Industries          496     21903            11.5
New China Life Insurance                497     21796           -13.3
Wm. Morrison Supermarkets               498     21741           -11.3
TUI                                     499     21655            -5.5
AutoNation                              500     21609             3.6

                                       profits  assets  profit_change  \
Telecom Italia                          1999.4   74295            NaN
Xiamen ITG Holding Group                  35.6   12161          -25.1
Xinjiang Guanghui Industry Investment    251.8   31957           49.9
Teva Pharmaceutical Industries           329.0   92890          -79.3
New China Life Insurance                 743.9  100609          -45.6
Wm. Morrison Supermarkets                406.4   11630           20.4
TUI                                     1151.7   16247          195.5
AutoNation                               430.5   10060           -2.7

                                                      ceo  \
Telecom Italia                            Flavio Cattaneo
Xiamen ITG Holding Group                        Xu Xiaoxi
Xinjiang Guanghui Industry Investment       Shang Jiqiang
Teva Pharmaceutical Industries          Yitzhak Peterburg
New China Life Insurance                         Wan Feng
Wm. Morrison Supermarkets                  David T. Potts
TUI                                     Friedrich Joussen
AutoNation                             Michael J. Jackson

                                                              industry  \
Telecom Italia                                      Telecommunications
Xiamen ITG Holding Group                                       Trading
Xinjiang Guanghui Industry Investment                          Trading
Teva Pharmaceutical Industries                         Pharmaceuticals
New China Life Insurance               Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                         Food and Drug Stores
TUI                                                    Travel Services
AutoNation                                         Specialty Retailers

                                                   sector  previous_rank  \
Telecom Italia                         Telecommunications            404
Xiamen ITG Holding Group                      Wholesalers              0
Xinjiang Guanghui Industry Investment         Wholesalers              0
Teva Pharmaceutical Industries                Health Care              0
New China Life Insurance                       Financials            427
Wm. Morrison Supermarkets              Food & Drug Stores            437
TUI                                     Business Services            467
AutoNation                                      Retailing              0

                                       country           hq_location  \
Telecom Italia                           Italy          Milan, Italy
Xiamen ITG Holding Group                 China         Xiamen, China
Xinjiang Guanghui Industry Investment    China         Urumqi, China
Teva Pharmaceutical Industries          Israel  Petach Tikva, Israel
New China Life Insurance                 China        Beijing, China
Wm. Morrison Supermarkets              Britain     Bradford, Britain
TUI                                    Germany      Hanover, Germany
AutoNation                                 USA   Fort Lauderdale, FL

                                                            website  \
Telecom Italia                         http://www.telecomitalia.com
Xiamen ITG Holding Group               http://www.itgholding.com.cn
Xinjiang Guanghui Industry Investment       http://www.guanghui.com
Teva Pharmaceutical Industries             http://www.tevapharm.com
New China Life Insurance                http://www.newchinalife.com
Wm. Morrison Supermarkets                  http://www.morrisons.com
TUI                                         http://www.tuigroup.com
AutoNation                                http://www.autonation.com

                                       years_on_global_500_list  employees  \
Telecom Italia                                               18      61227
Xiamen ITG Holding Group                                      1      18454
Xinjiang Guanghui Industry Investment                         1      65616
Teva Pharmaceutical Industries                                1      56960
New China Life Insurance                                      2      54378
Wm. Morrison Supermarkets                                    13      77210
TUI                                                          23      66779
AutoNation                                                   12      26000

                                       total_stockholder_equity
Telecom Italia                                            22366
Xiamen ITG Holding Group                                   1066
Xinjiang Guanghui Industry Investment                      4563
Teva Pharmaceutical Industries                            33337
New China Life Insurance                                   8507
Wm. Morrison Supermarkets                                  5111
TUI                                                        3006
AutoNation                                                 2310

Use the DataFrame.info() method to display information about the f500 dataframe.
After you have run your code, use the variable inspector and output to view information about the dataframe.

In [7]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

Select the industry column. Assign the result to the variable name industries.
Use Python's type() function to assign the type of industries to industries_type.
After you have run your code, use the variable inspector to look at the variables.

In [10]:
industries = f500['industry']

industries_type = type(industries)

print(industries_type)

#The syntax for DataFrame.loc[] is:

# df.loc[row_label, column_label]

<class 'pandas.core.series.Series'>

On the last screen, we observed that when you select just one column of a dataframe, you get a new pandas type: a series object. Series is the pandas type for one-dimensional objects. Anytime you see a 1D pandas object, it will be a series. Anytime you see a 2D pandas object, it will be a dataframe.

In fact, you can think of a dataframe as a collection of series objects, which is similar to how pandas stores the data behind the scenes.

In [ ]:
Select by Label	Explicit Syntax	Common Shorthand
Single column	df.loc[:,"col1"]	df["col1"]
List of columns	df.loc[:,["col1", "col7"]]	df[["col1", "col7"]]
Slice of columns	df.loc[:,"col1":"col4"]

Select the country column. Assign the result to the variable name countries.
In order, select the revenues and years_on_global_500_list columns. Assign the result to the variable name revenues_years.
In order, select all columns from ceo up to and including sector. Assign the result to the variable name ceo_to_sector.
After you have run your code, use the variable inspector to view the variables.

In [ ]:
countries = f500['country']
revenues_years = f500[['revenues','years_on_global_500_list']] #separated
ceo_to_sector = f500.loc[:,'ceo':'sector'] #slices

# dont forget the loc and : for all rows AND to slice columns

By selecting data from f500:
Create a new variable toyota, with:
Just the row with index Toyota Motor.
All columns.
Create a new variable, drink_companies, with:
Rows with indicies Anheuser-Busch InBev, Coca-Cola, and Heineken Holding, in that order.
All columns.
Create a new variable, middle_companies with:
All rows with indicies from Tata Motorsto Nationwide, inclusive.
All columns from rank to country, inclusive.

In [12]:
toyota = f500.loc['Toyota Motor']
drink_companies = f500.loc[['Anheuser-Busch InBev','Coca-Cola','Heineken Holding']] # separated
middle_companies = f500.loc['Tata Motors':'Nationwide','rank':'country'] #slices

# as long as rows are to be selected, use the loc attribute

In [ ]:
#R sector_counts <- fortune %>% 
#R  select(sector) %>% 
#R  group_by(sector) %>% 
#R summarize(freq=n()) %>% 
#R arrange(desc(freq))

We've already saved a selection of data from f500 to a dataframe named f500_sel.

Find the counts of each unique value in the country column in the f500_sel dataframe.
Select the country column in the f500_sel dataframe. Assign it to a variable named countries.
Use the Series.value_counts() method to return the value counts for countries. Assign the results to country_counts.

In [20]:
f500_sel = f500.loc[['Walmart','State Grid','Sinopec Group','China National Petroleum','Toyota Motor','Apple']]

countries = f500_sel['country']

country_counts = countries.value_counts()

From the pandas series countries_counts:
Select the item at index label India. Assign the result to the variable name india.
In order, select the items with index labels USA, Canada, and Mexico. Assign the result to the variable name north_america.

In [22]:
countries = f500['country']
countries_counts = countries.value_counts()

india = countries_counts.loc['India']
north_america = countries_counts.loc[['USA','Canada','Mexico']]

Select by Label	Explicit Syntax	Shorthand Convention
Single column from dataframe	df.loc[:,"col1"]	df["col1"]
List of columns from dataframe	df.loc[:,["col1","col7"]]	df[["col1","col7"]]
Slice of columns from dataframe	df.loc[:,"col1":"col4"]	
Single row from dataframe	df.loc["row4"]	
List of rows from dataframe	df.loc[["row1", "row8"]]	
Slice of rows from dataframe	df.loc["row3":"row5"]	df["row3":"row5"]
Single item from series	s.loc["item8"]	s["item8"]
List of items from series	s.loc[["item1","item7"]]	s[["item1","item7"]]
Slice of items from series	s.loc["item2":"item4"]	s["item2":"item4"]

By selecting data from f500:

Create a new variable big_movers, with:
Rows with indices Aviva, HP, JD.com, and BHP Billiton, in that order.
The rank and previous_rank columns, in that order.
Create a new variable, bottom_companies with:
All rows with indices from National Gridto AutoNation, inclusive.
The rank, sector, and country columns.

In [24]:
big_movers = f500.loc[['Aviva','HP','JD.com','BHP Billiton'],['rank','previous_rank']]
bottom_companies = f500.loc['National Grid':'AutoNation',['rank','sector','country']]